<h1>Offer</h1>

<img src="{{offer.image}}" />
<p>
  {{offer.title}}
</p>
<p>{{offer.description}}</p>
<a class="btn btn-link" href="/professionals/{{offer.author._id}}">
  {{offer.author.fullName}}
</a>